/*font-familly*/

.font_serif {font-family: ui-serif, Lucida Bright, Georgia, Times, serif;}
.font_sans {font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";}
.font_mono {font-family: ui-monospace, Monaco, Consolas, Hack, monospace;}
.font_cursive {font-family: Lucida Calligraphy, Lucida Handwriting, Apple Chancery, cursive;}
.font_fantasy {font-family: Harrington, fantasy;}

/*font-size*/

.text_2xs {font-size: 0.50rem;}
.text_xs {font-size: 0.75rem;}
.text_s {font-size: 0.875rem;}
.text_m {font-size: 1rem;}
.text_l {font-size: 1.175rem;}
.text_xl {font-size: 1.250rem;}
.text_2xl {font-size: 1.5rem;}
.text_3xl {font-size: 1.875rem;}
.text_4xl {font-size: 2.2rem;}
.text_5xl {font-size: 2.875rem;}
.text_6xl {font-size: 3.8rem;}
.text_7xl {font-size: 5rem;}

/*font-weight*/

.font_thin {font-weight: 100;}
.font_extralight {font-weight: 200;}
.font_light {font-weight: 300;}
.font_normal {font-weight: 400;}
.font_medium {font-weight: 500;}
.font_semibold {font-weight: 600;}
.font_bold {font-weight: 700;}
.font_extrabold {font-weight: 800;}
.font_heavy {font-weight: 900;}

/*font-variant-numeric*/

.num_normal {font-variant-numeric: normal;}
.num_ordinal {font-variant-numeric: ordinal;}
.num_slashed_zero {font-variant-numeric: slashed-zero;}
.num_lining {font-variant-numeric: lining-nums;}
.num_oldstyle {font-variant-numeric: oldstyle-nums;}
.num_proportional {font-variant-numeric: proportional-nums;}
.num_tabular {font-variant-numeric: tabular-nums;}
.num_diagonal_fractions {font-variant-numeric: diagonal-fractions;}
.num_stacked_fractions {font-variant-numeric: stacked-fractions;}

/*font-style*/

.not_italic {font-style: normal;}
.italic {font-style: italic;}

/*text-decoration*/

.line_through {text-decoration: line-through;} .strike {text-decoration: line-through;}
.underline {text-decoration: underline;}
.no_underline {text-decoration: none;}