/*transform : rotate()*/

.rotate_none {transform: rotate(0deg;);}
.rotate_full {transform: rotate(360deg;);}

.rotate_5 {transform: rotate(5deg;);}
.rotate_10 {transform: rotate(10deg;);}
.rotate_15 {transform: rotate(15deg;);}
.rotate_20 {transform: rotate(20deg;);}
.rotate_25 {transform: rotate(25deg;);}
.rotate_30 {transform: rotate(30deg;);}
.rotate_35 {transform: rotate(35deg;);}
.rotate_40 {transform: rotate(40deg;);}
.rotate_45 {transform: rotate(45deg;);}
.rotate_50 {transform: rotate(50deg;);}
.rotate_55 {transform: rotate(55deg;);}
.rotate_60 {transform: rotate(60deg;);}
.rotate_65 {transform: rotate(65deg;);}
.rotate_70 {transform: rotate(70deg;);}
.rotate_75 {transform: rotate(75deg;);}
.rotate_80 {transform: rotate(80deg;);}
.rotate_85 {transform: rotate(85deg;);}
.rotate_90 {transform: rotate(90deg;);}
.rotate_95 {transform: rotate(95deg;);}
.rotate_100 {transform: rotate(100deg;);}
.rotate_105 {transform: rotate(105deg;);}
.rotate_110 {transform: rotate(110deg;);}
.rotate_115 {transform: rotate(115deg;);}
.rotate_120 {transform: rotate(120deg;);}
.rotate_125 {transform: rotate(125deg;);}
.rotate_130 {transform: rotate(130deg;);}
.rotate_135 {transform: rotate(135deg;);}
.rotate_140 {transform: rotate(140deg;);}
.rotate_145 {transform: rotate(145deg;);}
.rotate_150 {transform: rotate(150deg;);}
.rotate_155 {transform: rotate(155deg;);}
.rotate_160 {transform: rotate(160deg;);}
.rotate_170 {transform: rotate(170deg;);}
.rotate_175 {transform: rotate(175deg;);}
.rotate_180 {transform: rotate(180deg;);}
.rotate_185 {transform: rotate(185deg;);}
.rotate_190 {transform: rotate(190deg;);}
.rotate_195 {transform: rotate(195deg;);}
.rotate_200 {transform: rotate(200deg;);}
.rotate_205 {transform: rotate(205deg;);}
.rotate_210 {transform: rotate(210deg;);}
.rotate_215 {transform: rotate(215deg;);}
.rotate_220 {transform: rotate(220deg;);}
.rotate_225 {transform: rotate(225deg;);}
.rotate_230 {transform: rotate(230deg;);}
.rotate_235 {transform: rotate(235deg;);}
.rotate_240 {transform: rotate(240deg;);}
.rotate_245 {transform: rotate(245deg;);}
.rotate_250 {transform: rotate(250deg;);}
.rotate_255 {transform: rotate(255deg;);}
.rotate_260 {transform: rotate(260deg;);}
.rotate_265 {transform: rotate(265deg;);}
.rotate_270 {transform: rotate(270deg;);}
.rotate_275 {transform: rotate(275deg;);}
.rotate_280 {transform: rotate(280deg;);}
.rotate_285 {transform: rotate(285deg;);}
.rotate_290 {transform: rotate(290deg;);}
.rotate_295 {transform: rotate(295deg;);}
.rotate_300 {transform: rotate(300deg;);}
.rotate_305 {transform: rotate(305deg;);}
.rotate_310 {transform: rotate(310deg;);}
.rotate_315 {transform: rotate(315deg;);}
.rotate_320 {transform: rotate(320deg;);}
.rotate_325 {transform: rotate(325deg;);}
.rotate_330 {transform: rotate(330deg;);}
.rotate_335 {transform: rotate(335deg;);}
.rotate_340 {transform: rotate(340deg;);}
.rotate_345 {transform: rotate(345deg;);}
.rotate_350 {transform: rotate(350deg;);}
.rotate_355 {transform: rotate(355deg;);}
.rotate_360 {transform: rotate(360deg;);}



.rotate_-5 {transform: rotate(-5deg;);}
.rotate_-10 {transform: rotate(-10deg;);}
.rotate_-15 {transform: rotate(-15deg;);}
.rotate_-20 {transform: rotate(-20deg;);}
.rotate_-25 {transform: rotate(-25deg;);}
.rotate_-30 {transform: rotate(-30deg;);}
.rotate_-35 {transform: rotate(-35deg;);}
.rotate_-40 {transform: rotate(-40deg;);}
.rotate_-45 {transform: rotate(-45deg;);}
.rotate_-50 {transform: rotate(-50deg;);}
.rotate_-55 {transform: rotate(-55deg;);}
.rotate_-60 {transform: rotate(-60deg;);}
.rotate_-65 {transform: rotate(-65deg;);}
.rotate_-70 {transform: rotate(-70deg;);}
.rotate_-75 {transform: rotate(-75deg;);}
.rotate_-80 {transform: rotate(-80deg;);}
.rotate_-85 {transform: rotate(-85deg;);}
.rotate_-90 {transform: rotate(-90deg;);}
.rotate_-95 {transform: rotate(-95deg;);}
.rotate_-100 {transform: rotate(-100deg;);}
.rotate_-105 {transform: rotate(-105deg;);}
.rotate_-110 {transform: rotate(-110deg;);}
.rotate_-115 {transform: rotate(-115deg;);}
.rotate_-120 {transform: rotate(-120deg;);}
.rotate_-125 {transform: rotate(-125deg;);}
.rotate_-130 {transform: rotate(-130deg;);}
.rotate_-135 {transform: rotate(-135deg;);}
.rotate_-140 {transform: rotate(-140deg;);}
.rotate_-145 {transform: rotate(-145deg;);}
.rotate_-150 {transform: rotate(-150deg;);}
.rotate_-155 {transform: rotate(-155deg;);}
.rotate_-160 {transform: rotate(-160deg;);}
.rotate_-170 {transform: rotate(-170deg;);}
.rotate_-175 {transform: rotate(-175deg;);}
.rotate_-180 {transform: rotate(-180deg;);}
.rotate_-185 {transform: rotate(-185deg;);}
.rotate_-190 {transform: rotate(-190deg;);}
.rotate_-195 {transform: rotate(-195deg;);}
.rotate_-200 {transform: rotate(-200deg;);}
.rotate_-205 {transform: rotate(-205deg;);}
.rotate_-210 {transform: rotate(-210deg;);}
.rotate_-215 {transform: rotate(-215deg;);}
.rotate_-220 {transform: rotate(-220deg;);}
.rotate_-225 {transform: rotate(-225deg;);}
.rotate_-230 {transform: rotate(-230deg;);}
.rotate_-235 {transform: rotate(-235deg;);}
.rotate_-240 {transform: rotate(-240deg;);}
.rotate_-245 {transform: rotate(-245deg;);}
.rotate_-250 {transform: rotate(-250deg;);}
.rotate_-255 {transform: rotate(-255deg;);}
.rotate_-260 {transform: rotate(-260deg;);}
.rotate_-265 {transform: rotate(-265deg;);}
.rotate_-270 {transform: rotate(-270deg;);}
.rotate_-275 {transform: rotate(-275deg;);}
.rotate_-280 {transform: rotate(-280deg;);}
.rotate_-285 {transform: rotate(-285deg;);}
.rotate_-290 {transform: rotate(-290deg;);}
.rotate_-295 {transform: rotate(-295deg;);}
.rotate_-300 {transform: rotate(-300deg;);}
.rotate_-305 {transform: rotate(-305deg;);}
.rotate_-310 {transform: rotate(-310deg;);}
.rotate_-315 {transform: rotate(-315deg;);}
.rotate_-320 {transform: rotate(-320deg;);}
.rotate_-325 {transform: rotate(-325deg;);}
.rotate_-330 {transform: rotate(-330deg;);}
.rotate_-335 {transform: rotate(-335deg;);}
.rotate_-340 {transform: rotate(-340deg;);}
.rotate_-345 {transform: rotate(-345deg;);}
.rotate_-350 {transform: rotate(-350deg;);}
.rotate_-355 {transform: rotate(-355deg;);}
.rotate_-360 {transform: rotate(-360deg;);}