/*width*/

.w_auto {width: auto;}

.w_none {width: 0;}
.w_full {width: 100%;}
.w_1\/3 {width: 33.333%;}

.w_0\% {width: 0%;}
.w_5\% {width: 5%;}
.w_10\% {width: 10%;}
.w_15\% {width: 15%;}
.w_20\% {width: 20%;}
.w_25\% {width: 25%;}
.w_30\% {width: 30%;}
.w_35\% {width: 35%;}
.w_40\% {width: 40%;}
.w_45\% {width: 45%;}
.w_50\% {width: 50%;}
.w_55\% {width: 55%;}
.w_60\% {width: 60%;}
.w_65\% {width: 65%;}
.w_70\% {width: 70%;}
.w_75\% {width: 75%;}
.w_80\% {width: 80%;}
.w_85\% {width: 85%;}
.w_90\% {width: 90%;}
.w_95\% {width: 95%;}
.w_100\% {width: 100%;}

.w_0 {width: 0rem;}
.w_0\.25 {width: 0.25rem;}
.w_0\.5 {width: 0.5rem;}
.w_0\.75 {width: 0.75rem;}
.w_1 {width: 1rem;}
.w_1\.25 {width: 1.25rem;}
.w_1\.5 {width: 1.5rem;}
.w_1\.75 {width: 1.75rem;}
.w_2 {width: 2rem;}
.w_2\.25 {width: 2.25rem;}
.w_2\.5 {width: 2.5rem;}
.w_2\.75 {width: 2.75rem;}
.w_3 {width: 3rem;}
.w_3\.5 {width: 3.5rem;}
.w_4 {width: 4rem;}
.w_4\.5 {width: 4.5rem;}
.w_5 {width: 5rem;}
.w_6 {width: 6rem;}
.w_8 {width: 8rem;}
.w_9 {width: 9rem;}
.w_10 {width: 10rem;}
.w_11 {width: 11rem;}
.w_12 {width: 12rem;}
.w_13 {width: 13rem;}
.w_14 {width: 14rem;}
.w_15 {width: 15rem;}
.w_16 {width: 16rem;}
.w_17 {width: 17rem;}
.w_18 {width: 18rem;}
.w_19 {width: 19rem;}
.w_20 {width: 20rem;}
.w_21 {width: 21rem;}
.w_22 {width: 22rem;}
.w_23 {width: 23rem;}
.w_24 {width: 24rem;}
.w_25 {width: 25rem;}
.w_26 {width: 26rem;}
.w_27 {width: 27rem;}
.w_28 {width: 28rem;}
.w_29 {width: 29rem;}
.w_30 {width: 30rem;}
.w_31 {width: 31rem;}
.w_32 {width: 32rem;}
.w_33 {width: 33rem;}
.w_34 {width: 34rem;}
.w_35 {width: 35rem;}
.w_36 {width: 36rem;}
.w_37 {width: 37rem;}
.w_38 {width: 38rem;}
.w_40 {width: 40rem;}
.w_41 {width: 41rem;}
.w_42 {width: 42rem;}
.w_43 {width: 43rem;}
.w_44 {width: 44rem;}
.w_45 {width: 45rem;}
.w_46 {width: 46rem;}
.w_47 {width: 47rem;}
.w_48 {width: 48rem;}
.w_49 {width: 49rem;}
.w_50 {width: 50rem;}
.w_51 {width: 51rem;}
.w_52 {width: 52rem;}
.w_53 {width: 53rem;}
.w_54 {width: 54rem;}
.w_55 {width: 55rem;}
.w_56 {width: 56rem;}
.w_57 {width: 57rem;}
.w_58 {width: 58rem;}
.w_59 {width: 59rem;}
.w_60 {width: 60rem;}
.w_61 {width: 61rem;}
.w_62 {width: 62rem;}
.w_63 {width: 63rem;}
.w_64 {width: 64rem;}
.w_65 {width: 65rem;}
.w_66 {width: 66rem;}
.w_67 {width: 67rem;}
.w_68 {width: 68rem;}
.w_69 {width: 69rem;}
.w_70 {width: 70rem;}
.w_71 {width: 71rem;}
.w_72 {width: 72rem;}
.w_73 {width: 73rem;}
.w_74 {width: 74rem;}
.w_75 {width: 75rem;}
.w_76 {width: 76rem;}
.w_77 {width: 77rem;}
.w_78 {width: 78rem;}
.w_79 {width: 79rem;}
.w_80 {width: 80rem;}
.w_81 {width: 81rem;}
.w_82 {width: 82rem;}
.w_83 {width: 83rem;}
.w_84 {width: 84rem;}
.w_85 {width: 85rem;}
.w_86 {width: 86rem;}
.w_87 {width: 87rem;}
.w_88 {width: 88rem;}
.w_89 {width: 89rem;}
.w_90 {width: 90rem;}
.w_91 {width: 91rem;}
.w_92 {width: 92rem;}
.w_93 {width: 93rem;}
.w_94 {width: 94rem;}
.w_95 {width: 95rem;}
.w_96 {width: 96rem;}
.w_97 {width: 97rem;}
.w_98 {width: 98rem;}
.w_99 {width: 99rem;}
.w_100 {width: 100rem;}

/*height*/

.h_auto {height: auto;}

.h_none {height: 0;}
.h_full {height: 100%;}
.h_1\/3 {height: 33.333%;}

.h_0\% {height: 0%;}
.h_5\% {height: 5%;}
.h_10\% {height: 10%;}
.h_15\% {height: 15%;}
.h_20\% {height: 20%;}
.h_25\% {height: 25%;}
.h_30\% {height: 30%;}
.h_35\% {height: 35%;}
.h_40\% {height: 40%;}
.h_45\% {height: 45%;}
.h_50\% {height: 50%;}
.h_55\% {height: 55%;}
.h_60\% {height: 60%;}
.h_65\% {height: 65%;}
.h_70\% {height: 70%;}
.h_75\% {height: 75%;}
.h_80\% {height: 80%;}
.h_85\% {height: 85%;}
.h_90\% {height: 90%;}
.h_95\% {height: 95%;}
.h_100\% {height: 100%;}

.h_0 {height: 0rem;}
.h_0\.25 {height: 0.25rem;}
.h_0\.5 {height: 0.5rem;}
.h_0\.75 {height: 0.75rem;}
.h_1 {height: 1rem;}
.h_1\.25 {height: 1.25rem;}
.h_1\.5 {height: 1.5rem;}
.h_1\.75 {height: 1.75rem;}
.h_2 {height: 2rem;}
.h_2\.25 {height: 2.25rem;}
.h_2\.5 {height: 2.5rem;}
.h_2\.75 {height: 2.75rem;}
.h_3 {height: 3rem;}
.h_3\.5 {height: 3.5rem;}
.h_4 {height: 4rem;}
.h_4\.5 {height: 4.5rem;}
.h_5 {height: 5rem;}
.h_6 {height: 6rem;}
.h_8 {height: 8rem;}
.h_9 {height: 9rem;}
.h_10 {height: 10rem;}
.h_11 {height: 11rem;}
.h_12 {height: 12rem;}
.h_13 {height: 13rem;}
.h_14 {height: 14rem;}
.h_15 {height: 15rem;}
.h_16 {height: 16rem;}
.h_17 {height: 17rem;}
.h_18 {height: 18rem;}
.h_19 {height: 19rem;}
.h_20 {height: 20rem;}
.h_21 {height: 21rem;}
.h_22 {height: 22rem;}
.h_23 {height: 23rem;}
.h_24 {height: 24rem;}
.h_25 {height: 25rem;}
.h_26 {height: 26rem;}
.h_27 {height: 27rem;}
.h_28 {height: 28rem;}
.h_29 {height: 29rem;}
.h_30 {height: 30rem;}
.h_31 {height: 31rem;}
.h_32 {height: 32rem;}
.h_33 {height: 33rem;}
.h_34 {height: 34rem;}
.h_35 {height: 35rem;}
.h_36 {height: 36rem;}
.h_37 {height: 37rem;}
.h_38 {height: 38rem;}
.h_40 {height: 40rem;}
.h_41 {height: 41rem;}
.h_42 {height: 42rem;}
.h_43 {height: 43rem;}
.h_44 {height: 44rem;}
.h_45 {height: 45rem;}
.h_46 {height: 46rem;}
.h_47 {height: 47rem;}
.h_48 {height: 48rem;}
.h_49 {height: 49rem;}
.h_50 {height: 50rem;}
.h_51 {height: 51rem;}
.h_52 {height: 52rem;}
.h_53 {height: 53rem;}
.h_54 {height: 54rem;}
.h_55 {height: 55rem;}
.h_56 {height: 56rem;}
.h_57 {height: 57rem;}
.h_58 {height: 58rem;}
.h_59 {height: 59rem;}
.h_60 {height: 60rem;}
.h_61 {height: 61rem;}
.h_62 {height: 62rem;}
.h_63 {height: 63rem;}
.h_64 {height: 64rem;}
.h_65 {height: 65rem;}
.h_66 {height: 66rem;}
.h_67 {height: 67rem;}
.h_68 {height: 68rem;}
.h_69 {height: 69rem;}
.h_70 {height: 70rem;}
.h_71 {height: 71rem;}
.h_72 {height: 72rem;}
.h_73 {height: 73rem;}
.h_74 {height: 74rem;}
.h_75 {height: 75rem;}
.h_76 {height: 76rem;}
.h_77 {height: 77rem;}
.h_78 {height: 78rem;}
.h_79 {height: 79rem;}
.h_80 {height: 80rem;}
.h_81 {height: 81rem;}
.h_82 {height: 82rem;}
.h_83 {height: 83rem;}
.h_84 {height: 84rem;}
.h_85 {height: 85rem;}
.h_86 {height: 86rem;}
.h_87 {height: 87rem;}
.h_88 {height: 88rem;}
.h_89 {height: 89rem;}
.h_90 {height: 90rem;}
.h_91 {height: 91rem;}
.h_92 {height: 92rem;}
.h_93 {height: 93rem;}
.h_94 {height: 94rem;}
.h_95 {height: 95rem;}
.h_96 {height: 96rem;}
.h_97 {height: 97rem;}
.h_98 {height: 98rem;}
.h_99 {height: 99rem;}
.h_100 {height: 100rem;}