:root {
		/*Base*/
	--color_white: #ffffff;
	--color_black: #000000;
		/*Gray :*/
	--color_gray_10: #e6e6e6;
	--color_gray_20: #d5d5d5;
	--color_gray_30: #c3c3c3;
	--color_gray_40: #b2b2b2;
	--color_gray_50: #a1a1a1;
	--color_gray_60: #909090;
	--color_gray_70: #808080;
	--color_gray_80: #707070;
	--color_gray_90: #616161;
	--color_gray_100: #515151;
	--color_gray_110: #434343;
	--color_gray_120: #353535;
	--color_gray_130: #272727;
	--color_gray_140: #1a1a1a;
	--color_gray_150: #0b0b0b;
		/*Cyan :*/
	--color_cyan_10: #e6fffb;
	--color_cyan_20: #a3fff3;
	--color_cyan_30: #7afff2;
	--color_cyan_40: #52fff3;
	--color_cyan_50: #28f7f0;
	--color_cyan_60: #00ebeb;
	--color_cyan_70: #00bec4;
	--color_cyan_80: #00949e;
	--color_cyan_90: #006c78;
	--color_cyan_100: #004752;
		/*Turquoise :*/
		/*Green :*/
	--color_green_10: #ebf2da;
	--color_green_20: #cee69e;
	--color_green_30: #b3d973;
	--color_green_40: #99cc4b;
	--color_green_50: #7ebf28;
	--color_green_60: #64b309;
	--color_green_70: #468c00;
	--color_green_80: #306600;
	--color_green_90: #1c4000;
	--color_green_100: #0a1a00;
		/*Yellow :*/
	--color_yellow_10: #fdffe8;
	--color_yellow_20: #fcffbf;
	--color_yellow_30: #fdff96;
	--color_yellow_40: #fffd6e;
	--color_yellow_50: #fff645;
	--color_yellow_60: #f8e71c;
	--color_yellow_70: #d1ba0d;
	--color_yellow_80: #ab9102;
	--color_yellow_90: #856c00;
	--color_yellow_100: #5e4a00;
		/*Orange*/
	--color_orange_10: #fffcf0;
	--color_orange_20: #fff1c7;
	--color_orange_30: #ffe49e;
	--color_orange_40: #ffd375;
	--color_orange_50: #ffc14d;
	--color_orange_60: #f5a623;
	--color_orange_70: #cf8013;
	--color_orange_80: #a86007;
	--color_orange_90: #824300;
	--color_orange_100: #5c2c00;
		/*Red :*/
	--color_red_10: #ff9868;
	--color_red_20: #ff7c51;
	--color_red_30: #ff5c37;
	--color_red_40: #ff2b16;
	--color_red_50: #ec0000;
	--color_red_60: #d00000;
	--color_red_70: #b50000;
	--color_red_80: #9b0000;
	--color_red_90: #820000;
	--color_red_100: #690000;
		/*Pink :*/
	--color_pink_10: #ffc0ff;
	--color_pink_20: #ffa2e8;
	--color_pink_30: #ff82ca;
	--color_pink_40: #fa62ac;
	--color_pink_50: #e94794;
	--color_pink_60: #d32f82;
	--color_pink_70: #be0a70;
	--color_pink_80: #a00058;
	--color_pink_90: #830040;
	--color_pink_100: #66002b;
		/*Purple :*/
	--color_purple_10: #ffd9ff;
	--color_purple_20: #e7aaff;
	--color_purple_30: #cb8ffb;
	--color_purple_40: #b178e5;
	--color_purple_50: #9861cc;
	--color_purple_60: #804bb3;
	--color_purple_70: #68359b;
	--color_purple_80: #511f84;
	--color_purple_90: #39076d;
	--color_purple_100: #2c1a4d;	
		/*Blue :*/
	--color_blue_10: #cdebff;
	--color_blue_20: #b1d3ff;
	--color_blue_30: #95bcff;
	--color_blue_40: #77a4ff;
	--color_blue_50: #548cff;
	--color_blue_60: #1e74fe;
	--color_blue_70: #035de8;
	--color_blue_80: #0047cd;
	--color_blue_90: #0032b0;
	--color_blue_100: #001e92;
}





/*Black & White :*/

	/*color*/
.color_white {color: var(--color_white);}
.color_black {color: var(--color_black);}

	/*background-color*/
.bg_white {background-color: var(--color_white);}
.bg_black {background-color: var(--color_black);}

	/*border-color*/
.border_white {border-color: var(--color_white);}
.border_black {border-color: var(--color_black);}

		/*border-color-top*/
.border_top_white {border-top-color: var(--color_white)}
.border_top_black {border-top-color: var(--color_black);}

.border_tp_white {border-top-color: var(--color_white)}
.border_tp_black {border-top-color: var(--color_black);}

		/*border-color-bottom*/
.border_bottom_white {border-bottom-color: var(--color_white)}
.border_bottom_black {border-bottom-color: var(--color_black);}

.border_bot_white {border-bottom-color: var(--color_white)}
.border_bot_black {border-bottom-color: var(--color_black);}

.border_bm_white {border-bottom-color: var(--color_white)}
.border_bm_black {border-bottom-color: var(--color_black);}

		/*border-color-left*/
.border_left_white {border-left-color: var(--color_white)}
.border_left_black {border-left-color: var(--color_black);}

.border_lt_white {border-left-color: var(--color_white)}
.border_lt_black {border-left-color: var(--color_black);}

		/*border-color-right*/
.border_right_white {border-right-color: var(--color_white)}
.border_right_black {border-right-color: var(--color_black);}

.border_rt_white {border-right-color: var(--color_white)}
.border_rt_black {border-right-color: var(--color_black);}





/*Gray :*/

	/*color*/
.color_gray_10 {color: var(--color_gray_10);}
.color_gray_20 {color: var(--color_gray_20);}
.color_gray_30 {color: var(--color_gray_30);}
.color_gray_40 {color: var(--color_gray_40);}
.color_gray_50 {color: var(--color_gray_50);}
.color_gray_60 {color: var(--color_gray_60);}
.color_gray_70 {color: var(--color_gray_70);}
.color_gray_80 {color: var(--color_gray_80);}
.color_gray_90 {color: var(--color_gray_90);}
.color_gray_100 {color: var(--color_gray_100);}
.color_gray_110 {color: var(--color_gray_110);}
.color_gray_120 {color: var(--color_gray_120);}
.color_gray_130 {color: var(--color_gray_130);}
.color_gray_140 {color: var(--color_gray_140);}
.color_gray_150 {color: var(--color_gray_150);}

	/*background-color*/
.bg_gray_10 {background-color: var(--color_gray_10);}
.bg_gray_20 {background-color: var(--color_gray_20);}
.bg_gray_30 {background-color: var(--color_gray_30);}
.bg_gray_40 {background-color: var(--color_gray_40);}
.bg_gray_50 {background-color: var(--color_gray_50);}
.bg_gray_60 {background-color: var(--color_gray_60);}
.bg_gray_70 {background-color: var(--color_gray_70);}
.bg_gray_80 {background-color: var(--color_gray_80);}
.bg_gray_90 {background-color: var(--color_gray_90);}
.bg_gray_100 {background-color: var(--color_gray_100);}
.bg_gray_110 {background-color: var(--color_gray_110);}
.bg_gray_120 {background-color: var(--color_gray_120);}
.bg_gray_130 {background-color: var(--color_gray_130);}
.bg_gray_140 {background-color: var(--color_gray_140);}
.bg_gray_150 {background-color: var(--color_gray_150);}
	
	/*border-color*/
.border_gray_10 {border-color: var(--color_gray_10);}
.border_gray_20 {border-color: var(--color_gray_20);}
.border_gray_30 {border-color: var(--color_gray_30);}
.border_gray_40 {border-color: var(--color_gray_40);}
.border_gray_50 {border-color: var(--color_gray_50);}
.border_gray_60 {border-color: var(--color_gray_60);}
.border_gray_70 {border-color: var(--color_gray_70);}
.border_gray_80 {border-color: var(--color_gray_80);}
.border_gray_90 {border-color: var(--color_gray_90);}
.border_gray_100 {border-color: var(--color_gray_100);}
.border_gray_110 {border-color: var(--color_gray_110);}
.border_gray_120 {border-color: var(--color_gray_120);}
.border_gray_130 {border-color: var(--color_gray_130);}
.border_gray_140 {border-color: var(--color_gray_140);}
.border_gray_150 {border-color: var(--color_gray_150);}

		/*border-color-top*/
.border_top_gray_10 {border-top-color: var(--color_gray_10);}
.border_top_gray_20 {border-top-color: var(--color_gray_20);}
.border_top_gray_30 {border-top-color: var(--color_gray_30);}
.border_top_gray_40 {border-top-color: var(--color_gray_40);}
.border_top_gray_50 {border-top-color: var(--color_gray_50);}
.border_top_gray_60 {border-top-color: var(--color_gray_60);}
.border_top_gray_70 {border-top-color: var(--color_gray_70);}
.border_top_gray_80 {border-top-color: var(--color_gray_80);}
.border_top_gray_90 {border-top-color: var(--color_gray_90);}
.border_top_gray_100 {border-top-color: var(--color_gray_100);}
.border_top_gray_110 {border-top-color: var(--color_gray_110);}
.border_top_gray_120 {border-top-color: var(--color_gray_120);}
.border_top_gray_130 {border-top-color: var(--color_gray_130);}
.border_top_gray_140 {border-top-color: var(--color_gray_140);}
.border_top_gray_150 {border-top-color: var(--color_gray_150);}

.border_tp_gray_10 {border-top-color: var(--color_gray_10);}
.border_tp_gray_20 {border-top-color: var(--color_gray_20);}
.border_tp_gray_30 {border-top-color: var(--color_gray_30);}
.border_tp_gray_40 {border-top-color: var(--color_gray_40);}
.border_tp_gray_50 {border-top-color: var(--color_gray_50);}
.border_tp_gray_60 {border-top-color: var(--color_gray_60);}
.border_tp_gray_70 {border-top-color: var(--color_gray_70);}
.border_tp_gray_80 {border-top-color: var(--color_gray_80);}
.border_tp_gray_90 {border-top-color: var(--color_gray_90);}
.border_tp_gray_100 {border-top-color: var(--color_gray_100);}
.border_tp_gray_110 {border-top-color: var(--color_gray_110);}
.border_tp_gray_120 {border-top-color: var(--color_gray_120);}
.border_tp_gray_130 {border-top-color: var(--color_gray_130);}
.border_tp_gray_140 {border-top-color: var(--color_gray_140);}
.border_tp_gray_150 {border-top-color: var(--color_gray_150);}

		/*border-color-bottom*/
.border_bottom_gray_10 {border-bottom-color: var(--color_gray_10);}
.border_bottom_gray_20 {border-bottom-color: var(--color_gray_20);}
.border_bottom_gray_30 {border-bottom-color: var(--color_gray_30);}
.border_bottom_gray_40 {border-bottom-color: var(--color_gray_40);}
.border_bottom_gray_50 {border-bottom-color: var(--color_gray_50);}
.border_bottom_gray_60 {border-bottom-color: var(--color_gray_60);}
.border_bottom_gray_70 {border-bottom-color: var(--color_gray_70);}
.border_bottom_gray_80 {border-bottom-color: var(--color_gray_80);}
.border_bottom_gray_90 {border-bottom-color: var(--color_gray_90);}
.border_bottom_gray_100 {border-bottom-color: var(--color_gray_100);}
.border_bottom_gray_110 {border-bottom-color: var(--color_gray_110);}
.border_bottom_gray_120 {border-bottom-color: var(--color_gray_120);}
.border_bottom_gray_130 {border-bottom-color: var(--color_gray_130);}
.border_bottom_gray_140 {border-bottom-color: var(--color_gray_140);}
.border_bottom_gray_150 {border-bottom-color: var(--color_gray_150);}

.border_bot_gray_10 {border-bottom-color: var(--color_gray_10);}
.border_bot_gray_20 {border-bottom-color: var(--color_gray_20);}
.border_bot_gray_30 {border-bottom-color: var(--color_gray_30);}
.border_bot_gray_40 {border-bottom-color: var(--color_gray_40);}
.border_bot_gray_50 {border-bottom-color: var(--color_gray_50);}
.border_bot_gray_60 {border-bottom-color: var(--color_gray_60);}
.border_bot_gray_70 {border-bottom-color: var(--color_gray_70);}
.border_bot_gray_80 {border-bottom-color: var(--color_gray_80);}
.border_bot_gray_90 {border-bottom-color: var(--color_gray_90);}
.border_bot_gray_100 {border-bottom-color: var(--color_gray_100);}
.border_bot_gray_110 {border-bottom-color: var(--color_gray_110);}
.border_bot_gray_120 {border-bottom-color: var(--color_gray_120);}
.border_bot_gray_130 {border-bottom-color: var(--color_gray_130);}
.border_bot_gray_140 {border-bottom-color: var(--color_gray_140);}
.border_bot_gray_150 {border-bottom-color: var(--color_gray_150);}

.border_bm_gray_10 {border-bottom-color: var(--color_gray_10);}
.border_bm_gray_20 {border-bottom-color: var(--color_gray_20);}
.border_bm_gray_30 {border-bottom-color: var(--color_gray_30);}
.border_bm_gray_40 {border-bottom-color: var(--color_gray_40);}
.border_bm_gray_50 {border-bottom-color: var(--color_gray_50);}
.border_bm_gray_60 {border-bottom-color: var(--color_gray_60);}
.border_bm_gray_70 {border-bottom-color: var(--color_gray_70);}
.border_bm_gray_80 {border-bottom-color: var(--color_gray_80);}
.border_bm_gray_90 {border-bottom-color: var(--color_gray_90);}
.border_bm_gray_100 {border-bottom-color: var(--color_gray_100);}
.border_bm_gray_110 {border-bottom-color: var(--color_gray_110);}
.border_bm_gray_120 {border-bottom-color: var(--color_gray_120);}
.border_bm_gray_130 {border-bottom-color: var(--color_gray_130);}
.border_bm_gray_140 {border-bottom-color: var(--color_gray_140);}
.border_bm_gray_150 {border-bottom-color: var(--color_gray_150);}

		/*border-color-left*/
.border_left_gray_10 {border-left-color: var(--color_gray_10);}
.border_left_gray_20 {border-left-color: var(--color_gray_20);}
.border_left_gray_30 {border-left-color: var(--color_gray_30);}
.border_left_gray_40 {border-left-color: var(--color_gray_40);}
.border_left_gray_50 {border-left-color: var(--color_gray_50);}
.border_left_gray_60 {border-left-color: var(--color_gray_60);}
.border_left_gray_70 {border-left-color: var(--color_gray_70);}
.border_left_gray_80 {border-left-color: var(--color_gray_80);}
.border_left_gray_90 {border-left-color: var(--color_gray_90);}
.border_left_gray_100 {border-left-color: var(--color_gray_100);}
.border_left_gray_110 {border-left-color: var(--color_gray_110);}
.border_left_gray_120 {border-left-color: var(--color_gray_120);}
.border_left_gray_130 {border-left-color: var(--color_gray_130);}
.border_left_gray_140 {border-left-color: var(--color_gray_140);}
.border_left_gray_150 {border-left-color: var(--color_gray_150);}

.border_lt_gray_10 {border-left-color: var(--color_gray_10);}
.border_lt_gray_20 {border-left-color: var(--color_gray_20);}
.border_lt_gray_30 {border-left-color: var(--color_gray_30);}
.border_lt_gray_40 {border-left-color: var(--color_gray_40);}
.border_lt_gray_50 {border-left-color: var(--color_gray_50);}
.border_lt_gray_60 {border-left-color: var(--color_gray_60);}
.border_lt_gray_70 {border-left-color: var(--color_gray_70);}
.border_lt_gray_80 {border-left-color: var(--color_gray_80);}
.border_lt_gray_90 {border-left-color: var(--color_gray_90);}
.border_lt_gray_100 {border-left-color: var(--color_gray_100);}
.border_lt_gray_110 {border-left-color: var(--color_gray_110);}
.border_lt_gray_120 {border-left-color: var(--color_gray_120);}
.border_lt_gray_130 {border-left-color: var(--color_gray_130);}
.border_lt_gray_140 {border-left-color: var(--color_gray_140);}
.border_lt_gray_150 {border-left-color: var(--color_gray_150);}

		/*border-color-right*/
.border_right_gray_10 {border-right-color: var(--color_gray_10);}
.border_right_gray_20 {border-right-color: var(--color_gray_20);}
.border_right_gray_30 {border-right-color: var(--color_gray_30);}
.border_right_gray_40 {border-right-color: var(--color_gray_40);}
.border_right_gray_50 {border-right-color: var(--color_gray_50);}
.border_right_gray_60 {border-right-color: var(--color_gray_60);}
.border_right_gray_70 {border-right-color: var(--color_gray_70);}
.border_right_gray_80 {border-right-color: var(--color_gray_80);}
.border_right_gray_90 {border-right-color: var(--color_gray_90);}
.border_right_gray_100 {border-right-color: var(--color_gray_100);}
.border_right_gray_110 {border-right-color: var(--color_gray_110);}
.border_right_gray_120 {border-right-color: var(--color_gray_120);}
.border_right_gray_130 {border-right-color: var(--color_gray_130);}
.border_right_gray_140 {border-right-color: var(--color_gray_140);}
.border_right_gray_150 {border-right-color: var(--color_gray_150);}

.border_rt_gray_10 {border-right-color: var(--color_gray_10);}
.border_rt_gray_20 {border-right-color: var(--color_gray_20);}
.border_rt_gray_30 {border-right-color: var(--color_gray_30);}
.border_rt_gray_40 {border-right-color: var(--color_gray_40);}
.border_rt_gray_50 {border-right-color: var(--color_gray_50);}
.border_rt_gray_60 {border-right-color: var(--color_gray_60);}
.border_rt_gray_70 {border-right-color: var(--color_gray_70);}
.border_rt_gray_80 {border-right-color: var(--color_gray_80);}
.border_rt_gray_90 {border-right-color: var(--color_gray_90);}
.border_rt_gray_100 {border-right-color: var(--color_gray_100);}
.border_rt_gray_110 {border-right-color: var(--color_gray_110);}
.border_rt_gray_120 {border-right-color: var(--color_gray_120);}
.border_rt_gray_130 {border-right-color: var(--color_gray_130);}
.border_rt_gray_140 {border-right-color: var(--color_gray_140);}
.border_rt_gray_150 {border-right-color: var(--color_gray_150);}





/*Cyan :*/

	/*color*/
.color_cyan_10 {color: var(--color_cyan_10);}
.color_cyan_20 {color: var(--color_cyan_20);}
.color_cyan_30 {color: var(--color_cyan_30);}
.color_cyan_40 {color: var(--color_cyan_40);}
.color_cyan_50 {color: var(--color_cyan_50);}
.color_cyan_60 {color: var(--color_cyan_60);}
.color_cyan_70 {color: var(--color_cyan_70);}
.color_cyan_80 {color: var(--color_cyan_80);}
.color_cyan_90 {color: var(--color_cyan_90);}
.color_cyan_100 {color: var(--color_cyan_100);}

	/*background-color*/
.bg_cyan_10 {background-color: var(--color_cyan_10);}
.bg_cyan_20 {background-color: var(--color_cyan_20);}
.bg_cyan_30 {background-color: var(--color_cyan_30);}
.bg_cyan_40 {background-color: var(--color_cyan_40);}
.bg_cyan_50 {background-color: var(--color_cyan_50);}
.bg_cyan_60 {background-color: var(--color_cyan_60);}
.bg_cyan_70 {background-color: var(--color_cyan_70);}
.bg_cyan_80 {background-color: var(--color_cyan_80);}
.bg_cyan_90 {background-color: var(--color_cyan_90);}
.bg_cyan_100 {background-color: var(--color_cyan_100);}
	
	/*border-color*/
.border_cyan_10 {border-color: var(--color_cyan_10);}
.border_cyan_20 {border-color: var(--color_cyan_20);}
.border_cyan_30 {border-color: var(--color_cyan_30);}
.border_cyan_40 {border-color: var(--color_cyan_40);}
.border_cyan_50 {border-color: var(--color_cyan_50);}
.border_cyan_60 {border-color: var(--color_cyan_60);}
.border_cyan_70 {border-color: var(--color_cyan_70);}
.border_cyan_80 {border-color: var(--color_cyan_80);}
.border_cyan_90 {border-color: var(--color_cyan_90);}
.border_cyan_100 {border-color: var(--color_cyan_100);}

		/*border-color-top*/
.border_top_cyan_10 {border-top-color: var(--color_cyan_10);}
.border_top_cyan_20 {border-top-color: var(--color_cyan_20);}
.border_top_cyan_30 {border-top-color: var(--color_cyan_30);}
.border_top_cyan_40 {border-top-color: var(--color_cyan_40);}
.border_top_cyan_50 {border-top-color: var(--color_cyan_50);}
.border_top_cyan_60 {border-top-color: var(--color_cyan_60);}
.border_top_cyan_70 {border-top-color: var(--color_cyan_70);}
.border_top_cyan_80 {border-top-color: var(--color_cyan_80);}
.border_top_cyan_90 {border-top-color: var(--color_cyan_90);}
.border_top_cyan_100 {border-top-color: var(--color_cyan_100);}

.border_tp_cyan_10 {border-top-color: var(--color_cyan_10);}
.border_tp_cyan_20 {border-top-color: var(--color_cyan_20);}
.border_tp_cyan_30 {border-top-color: var(--color_cyan_30);}
.border_tp_cyan_40 {border-top-color: var(--color_cyan_40);}
.border_tp_cyan_50 {border-top-color: var(--color_cyan_50);}
.border_tp_cyan_60 {border-top-color: var(--color_cyan_60);}
.border_tp_cyan_70 {border-top-color: var(--color_cyan_70);}
.border_tp_cyan_80 {border-top-color: var(--color_cyan_80);}
.border_tp_cyan_90 {border-top-color: var(--color_cyan_90);}
.border_tp_cyan_100 {border-top-color: var(--color_cyan_100);}

		/*border-color-bottom*/
.border_bottom_cyan_10 {border-bottom-color: var(--color_cyan_10);}
.border_bottom_cyan_20 {border-bottom-color: var(--color_cyan_20);}
.border_bottom_cyan_30 {border-bottom-color: var(--color_cyan_30);}
.border_bottom_cyan_40 {border-bottom-color: var(--color_cyan_40);}
.border_bottom_cyan_50 {border-bottom-color: var(--color_cyan_50);}
.border_bottom_cyan_60 {border-bottom-color: var(--color_cyan_60);}
.border_bottom_cyan_70 {border-bottom-color: var(--color_cyan_70);}
.border_bottom_cyan_80 {border-bottom-color: var(--color_cyan_80);}
.border_bottom_cyan_90 {border-bottom-color: var(--color_cyan_90);}
.border_bottom_cyan_100 {border-bottom-color: var(--color_cyan_100);}

.border_bot_cyan_10 {border-bottom-color: var(--color_cyan_10);}
.border_bot_cyan_20 {border-bottom-color: var(--color_cyan_20);}
.border_bot_cyan_30 {border-bottom-color: var(--color_cyan_30);}
.border_bot_cyan_40 {border-bottom-color: var(--color_cyan_40);}
.border_bot_cyan_50 {border-bottom-color: var(--color_cyan_50);}
.border_bot_cyan_60 {border-bottom-color: var(--color_cyan_60);}
.border_bot_cyan_70 {border-bottom-color: var(--color_cyan_70);}
.border_bot_cyan_80 {border-bottom-color: var(--color_cyan_80);}
.border_bot_cyan_90 {border-bottom-color: var(--color_cyan_90);}
.border_bot_cyan_100 {border-bottom-color: var(--color_cyan_100);}

.border_bm_cyan_10 {border-bottom-color: var(--color_cyan_10);}
.border_bm_cyan_20 {border-bottom-color: var(--color_cyan_20);}
.border_bm_cyan_30 {border-bottom-color: var(--color_cyan_30);}
.border_bm_cyan_40 {border-bottom-color: var(--color_cyan_40);}
.border_bm_cyan_50 {border-bottom-color: var(--color_cyan_50);}
.border_bm_cyan_60 {border-bottom-color: var(--color_cyan_60);}
.border_bm_cyan_70 {border-bottom-color: var(--color_cyan_70);}
.border_bm_cyan_80 {border-bottom-color: var(--color_cyan_80);}
.border_bm_cyan_90 {border-bottom-color: var(--color_cyan_90);}
.border_bm_cyan_100 {border-bottom-color: var(--color_cyan_100);}

		/*border-color-left*/
.border_left_cyan_10 {border-left-color: var(--color_cyan_10);}
.border_left_cyan_20 {border-left-color: var(--color_cyan_20);}
.border_left_cyan_30 {border-left-color: var(--color_cyan_30);}
.border_left_cyan_40 {border-left-color: var(--color_cyan_40);}
.border_left_cyan_50 {border-left-color: var(--color_cyan_50);}
.border_left_cyan_60 {border-left-color: var(--color_cyan_60);}
.border_left_cyan_70 {border-left-color: var(--color_cyan_70);}
.border_left_cyan_80 {border-left-color: var(--color_cyan_80);}
.border_left_cyan_90 {border-left-color: var(--color_cyan_90);}
.border_left_cyan_100 {border-left-color: var(--color_cyan_100);}

.border_lt_cyan_10 {border-left-color: var(--color_cyan_10);}
.border_lt_cyan_20 {border-left-color: var(--color_cyan_20);}
.border_lt_cyan_30 {border-left-color: var(--color_cyan_30);}
.border_lt_cyan_40 {border-left-color: var(--color_cyan_40);}
.border_lt_cyan_50 {border-left-color: var(--color_cyan_50);}
.border_lt_cyan_60 {border-left-color: var(--color_cyan_60);}
.border_lt_cyan_70 {border-left-color: var(--color_cyan_70);}
.border_lt_cyan_80 {border-left-color: var(--color_cyan_80);}
.border_lt_cyan_90 {border-left-color: var(--color_cyan_90);}
.border_lt_cyan_100 {border-left-color: var(--color_cyan_100);}

		/*border-color-right*/
.border_right_cyan_10 {border-right-color: var(--color_cyan_10);}
.border_right_cyan_20 {border-right-color: var(--color_cyan_20);}
.border_right_cyan_30 {border-right-color: var(--color_cyan_30);}
.border_right_cyan_40 {border-right-color: var(--color_cyan_40);}
.border_right_cyan_50 {border-right-color: var(--color_cyan_50);}
.border_right_cyan_60 {border-right-color: var(--color_cyan_60);}
.border_right_cyan_70 {border-right-color: var(--color_cyan_70);}
.border_right_cyan_80 {border-right-color: var(--color_cyan_80);}
.border_right_cyan_90 {border-right-color: var(--color_cyan_90);}
.border_right_cyan_100 {border-right-color: var(--color_cyan_100);}

.border_rt_cyan_10 {border-right-color: var(--color_cyan_10);}
.border_rt_cyan_20 {border-right-color: var(--color_cyan_20);}
.border_rt_cyan_30 {border-right-color: var(--color_cyan_30);}
.border_rt_cyan_40 {border-right-color: var(--color_cyan_40);}
.border_rt_cyan_50 {border-right-color: var(--color_cyan_50);}
.border_rt_cyan_60 {border-right-color: var(--color_cyan_60);}
.border_rt_cyan_70 {border-right-color: var(--color_cyan_70);}
.border_rt_cyan_80 {border-right-color: var(--color_cyan_80);}
.border_rt_cyan_90 {border-right-color: var(--color_cyan_90);}
.border_rt_cyan_100 {border-right-color: var(--color_cyan_100);}





/*Green :*/

	/*color*/
.color_green_10 {color: var(--color_green_10);}
.color_green_20 {color: var(--color_green_20);}
.color_green_30 {color: var(--color_green_30);}
.color_green_40 {color: var(--color_green_40);}
.color_green_50 {color: var(--color_green_50);}
.color_green_60 {color: var(--color_green_60);}
.color_green_70 {color: var(--color_green_70);}
.color_green_80 {color: var(--color_green_80);}
.color_green_90 {color: var(--color_green_90);}
.color_green_100 {color: var(--color_green_100);}

	/*background-color*/
.bg_green_10 {background-color: var(--color_green_10);}
.bg_green_20 {background-color: var(--color_green_20);}
.bg_green_30 {background-color: var(--color_green_30);}
.bg_green_40 {background-color: var(--color_green_40);}
.bg_green_50 {background-color: var(--color_green_50);}
.bg_green_60 {background-color: var(--color_green_60);}
.bg_green_70 {background-color: var(--color_green_70);}
.bg_green_80 {background-color: var(--color_green_80);}
.bg_green_90 {background-color: var(--color_green_90);}
.bg_green_100 {background-color: var(--color_green_100);}

	/*border-color*/
.border_green_10 {border-color: var(--color_green_10);}
.border_green_20 {border-color: var(--color_green_20);}
.border_green_30 {border-color: var(--color_green_30);}
.border_green_40 {border-color: var(--color_green_40);}
.border_green_50 {border-color: var(--color_green_50);}
.border_green_60 {border-color: var(--color_green_60);}
.border_green_70 {border-color: var(--color_green_70);}
.border_green_80 {border-color: var(--color_green_80);}
.border_green_90 {border-color: var(--color_green_90);}
.border_green_100 {border-color: var(--color_green_100);}

		/*border-color-top*/
.border_top_green_10 {border-top-color: var(--color_green_10);}
.border_top_green_20 {border-top-color: var(--color_green_20);}
.border_top_green_30 {border-top-color: var(--color_green_30);}
.border_top_green_40 {border-top-color: var(--color_green_40);}
.border_top_green_50 {border-top-color: var(--color_green_50);}
.border_top_green_60 {border-top-color: var(--color_green_60);}
.border_top_green_70 {border-top-color: var(--color_green_70);}
.border_top_green_80 {border-top-color: var(--color_green_80);}
.border_top_green_90 {border-top-color: var(--color_green_90);}
.border_top_green_100 {border-top-color: var(--color_green_100);}

.border_tp_green_10 {border-top-color: var(--color_green_10);}
.border_tp_green_20 {border-top-color: var(--color_green_20);}
.border_tp_green_30 {border-top-color: var(--color_green_30);}
.border_tp_green_40 {border-top-color: var(--color_green_40);}
.border_tp_green_50 {border-top-color: var(--color_green_50);}
.border_tp_green_60 {border-top-color: var(--color_green_60);}
.border_tp_green_70 {border-top-color: var(--color_green_70);}
.border_tp_green_80 {border-top-color: var(--color_green_80);}
.border_tp_green_90 {border-top-color: var(--color_green_90);}
.border_tp_green_100 {border-top-color: var(--color_green_100);}

		/*border-color-bottom*/
.border_bottom_green_10 {border-bottom-color: var(--color_green_10);}
.border_bottom_green_20 {border-bottom-color: var(--color_green_20);}
.border_bottom_green_30 {border-bottom-color: var(--color_green_30);}
.border_bottom_green_40 {border-bottom-color: var(--color_green_40);}
.border_bottom_green_50 {border-bottom-color: var(--color_green_50);}
.border_bottom_green_60 {border-bottom-color: var(--color_green_60);}
.border_bottom_green_70 {border-bottom-color: var(--color_green_70);}
.border_bottom_green_80 {border-bottom-color: var(--color_green_80);}
.border_bottom_green_90 {border-bottom-color: var(--color_green_90);}
.border_bottom_green_100 {border-bottom-color: var(--color_green_100);}

.border_bot_green_10 {border-bottom-color: var(--color_green_10);}
.border_bot_green_20 {border-bottom-color: var(--color_green_20);}
.border_bot_green_30 {border-bottom-color: var(--color_green_30);}
.border_bot_green_40 {border-bottom-color: var(--color_green_40);}
.border_bot_green_50 {border-bottom-color: var(--color_green_50);}
.border_bot_green_60 {border-bottom-color: var(--color_green_60);}
.border_bot_green_70 {border-bottom-color: var(--color_green_70);}
.border_bot_green_80 {border-bottom-color: var(--color_green_80);}
.border_bot_green_90 {border-bottom-color: var(--color_green_90);}
.border_bot_green_100 {border-bottom-color: var(--color_green_100);}

.border_bm_green_10 {border-bottom-color: var(--color_green_10);}
.border_bm_green_20 {border-bottom-color: var(--color_green_20);}
.border_bm_green_30 {border-bottom-color: var(--color_green_30);}
.border_bm_green_40 {border-bottom-color: var(--color_green_40);}
.border_bm_green_50 {border-bottom-color: var(--color_green_50);}
.border_bm_green_60 {border-bottom-color: var(--color_green_60);}
.border_bm_green_70 {border-bottom-color: var(--color_green_70);}
.border_bm_green_80 {border-bottom-color: var(--color_green_80);}
.border_bm_green_90 {border-bottom-color: var(--color_green_90);}
.border_bm_green_100 {border-bottom-color: var(--color_green_100);}

		/*border-color-left*/
.border_left_green_10 {border-left-color: var(--color_green_10);}
.border_left_green_20 {border-left-color: var(--color_green_20);}
.border_left_green_30 {border-left-color: var(--color_green_30);}
.border_left_green_40 {border-left-color: var(--color_green_40);}
.border_left_green_50 {border-left-color: var(--color_green_50);}
.border_left_green_60 {border-left-color: var(--color_green_60);}
.border_left_green_70 {border-left-color: var(--color_green_70);}
.border_left_green_80 {border-left-color: var(--color_green_80);}
.border_left_green_90 {border-left-color: var(--color_green_90);}
.border_left_green_100 {border-left-color: var(--color_green_100);}

.border_lt_green_10 {border-left-color: var(--color_green_10);}
.border_lt_green_20 {border-left-color: var(--color_green_20);}
.border_lt_green_30 {border-left-color: var(--color_green_30);}
.border_lt_green_40 {border-left-color: var(--color_green_40);}
.border_lt_green_50 {border-left-color: var(--color_green_50);}
.border_lt_green_60 {border-left-color: var(--color_green_60);}
.border_lt_green_70 {border-left-color: var(--color_green_70);}
.border_lt_green_80 {border-left-color: var(--color_green_80);}
.border_lt_green_90 {border-left-color: var(--color_green_90);}
.border_lt_green_100 {border-left-color: var(--color_green_100);}

		/*border-color-right*/
.border_right_green_10 {border-right-color: var(--color_green_10);}
.border_right_green_20 {border-right-color: var(--color_green_20);}
.border_right_green_30 {border-right-color: var(--color_green_30);}
.border_right_green_40 {border-right-color: var(--color_green_40);}
.border_right_green_50 {border-right-color: var(--color_green_50);}
.border_right_green_60 {border-right-color: var(--color_green_60);}
.border_right_green_70 {border-right-color: var(--color_green_70);}
.border_right_green_80 {border-right-color: var(--color_green_80);}
.border_right_green_90 {border-right-color: var(--color_green_90);}
.border_right_green_100 {border-right-color: var(--color_green_100);}

.border_rt_green_10 {border-right-color: var(--color_green_10);}
.border_rt_green_20 {border-right-color: var(--color_green_20);}
.border_rt_green_30 {border-right-color: var(--color_green_30);}
.border_rt_green_40 {border-right-color: var(--color_green_40);}
.border_rt_green_50 {border-right-color: var(--color_green_50);}
.border_rt_green_60 {border-right-color: var(--color_green_60);}
.border_rt_green_70 {border-right-color: var(--color_green_70);}
.border_rt_green_80 {border-right-color: var(--color_green_80);}
.border_rt_green_90 {border-right-color: var(--color_green_90);}
.border_rt_green_100 {border-right-color: var(--color_green_100);}





/*Yellow :*/

	/*color*/
.color_yellow_10 {color: var(--color_yellow_10);}
.color_yellow_20 {color: var(--color_yellow_20);}
.color_yellow_30 {color: var(--color_yellow_30);}
.color_yellow_40 {color: var(--color_yellow_40);}
.color_yellow_50 {color: var(--color_yellow_50);}
.color_yellow_60 {color: var(--color_yellow_60);}
.color_yellow_70 {color: var(--color_yellow_70);}
.color_yellow_80 {color: var(--color_yellow_80);}
.color_yellow_90 {color: var(--color_yellow_90);}
.color_yellow_100 {color: var(--color_yellow_100);}

	/*background-color*/
.bg_yellow_10 {background-color: var(--color_yellow_10);}
.bg_yellow_20 {background-color: var(--color_yellow_20);}
.bg_yellow_30 {background-color: var(--color_yellow_30);}
.bg_yellow_40 {background-color: var(--color_yellow_40);}
.bg_yellow_50 {background-color: var(--color_yellow_50);}
.bg_yellow_60 {background-color: var(--color_yellow_60);}
.bg_yellow_70 {background-color: var(--color_yellow_70);}
.bg_yellow_80 {background-color: var(--color_yellow_80);}
.bg_yellow_90 {background-color: var(--color_yellow_90);}
.bg_yellow_100 {background-color: var(--color_yellow_100);}

	/*border-color*/
.border_yellow_10 {border-color: var(--color_yellow_10);}
.border_yellow_20 {border-color: var(--color_yellow_20);}
.border_yellow_30 {border-color: var(--color_yellow_30);}
.border_yellow_40 {border-color: var(--color_yellow_40);}
.border_yellow_50 {border-color: var(--color_yellow_50);}
.border_yellow_60 {border-color: var(--color_yellow_60);}
.border_yellow_70 {border-color: var(--color_yellow_70);}
.border_yellow_80 {border-color: var(--color_yellow_80);}
.border_yellow_90 {border-color: var(--color_yellow_90);}
.border_yellow_100 {border-color: var(--color_yellow_100);}

		/*border-color-top*/
.border_top_yellow_10 {border-top-color: var(--color_yellow_10);}
.border_top_yellow_20 {border-top-color: var(--color_yellow_20);}
.border_top_yellow_30 {border-top-color: var(--color_yellow_30);}
.border_top_yellow_40 {border-top-color: var(--color_yellow_40);}
.border_top_yellow_50 {border-top-color: var(--color_yellow_50);}
.border_top_yellow_60 {border-top-color: var(--color_yellow_60);}
.border_top_yellow_70 {border-top-color: var(--color_yellow_70);}
.border_top_yellow_80 {border-top-color: var(--color_yellow_80);}
.border_top_yellow_90 {border-top-color: var(--color_yellow_90);}
.border_top_yellow_100 {border-top-color: var(--color_yellow_100);}

.border_tp_yellow_10 {border-top-color: var(--color_yellow_10);}
.border_tp_yellow_20 {border-top-color: var(--color_yellow_20);}
.border_tp_yellow_30 {border-top-color: var(--color_yellow_30);}
.border_tp_yellow_40 {border-top-color: var(--color_yellow_40);}
.border_tp_yellow_50 {border-top-color: var(--color_yellow_50);}
.border_tp_yellow_60 {border-top-color: var(--color_yellow_60);}
.border_tp_yellow_70 {border-top-color: var(--color_yellow_70);}
.border_tp_yellow_80 {border-top-color: var(--color_yellow_80);}
.border_tp_yellow_90 {border-top-color: var(--color_yellow_90);}
.border_tp_yellow_100 {border-top-color: var(--color_yellow_100);}

		/*border-color-bottom*/
.border_bottom_yellow_10 {border-bottom-color: var(--color_yellow_10);}
.border_bottom_yellow_20 {border-bottom-color: var(--color_yellow_20);}
.border_bottom_yellow_30 {border-bottom-color: var(--color_yellow_30);}
.border_bottom_yellow_40 {border-bottom-color: var(--color_yellow_40);}
.border_bottom_yellow_50 {border-bottom-color: var(--color_yellow_50);}
.border_bottom_yellow_60 {border-bottom-color: var(--color_yellow_60);}
.border_bottom_yellow_70 {border-bottom-color: var(--color_yellow_70);}
.border_bottom_yellow_80 {border-bottom-color: var(--color_yellow_80);}
.border_bottom_yellow_90 {border-bottom-color: var(--color_yellow_90);}
.border_bottom_yellow_100 {border-bottom-color: var(--color_yellow_100);}

.border_bot_yellow_10 {border-bottom-color: var(--color_yellow_10);}
.border_bot_yellow_20 {border-bottom-color: var(--color_yellow_20);}
.border_bot_yellow_30 {border-bottom-color: var(--color_yellow_30);}
.border_bot_yellow_40 {border-bottom-color: var(--color_yellow_40);}
.border_bot_yellow_50 {border-bottom-color: var(--color_yellow_50);}
.border_bot_yellow_60 {border-bottom-color: var(--color_yellow_60);}
.border_bot_yellow_70 {border-bottom-color: var(--color_yellow_70);}
.border_bot_yellow_80 {border-bottom-color: var(--color_yellow_80);}
.border_bot_yellow_90 {border-bottom-color: var(--color_yellow_90);}
.border_bot_yellow_100 {border-bottom-color: var(--color_yellow_100);}

.border_bm_yellow_10 {border-bottom-color: var(--color_yellow_10);}
.border_bm_yellow_20 {border-bottom-color: var(--color_yellow_20);}
.border_bm_yellow_30 {border-bottom-color: var(--color_yellow_30);}
.border_bm_yellow_40 {border-bottom-color: var(--color_yellow_40);}
.border_bm_yellow_50 {border-bottom-color: var(--color_yellow_50);}
.border_bm_yellow_60 {border-bottom-color: var(--color_yellow_60);}
.border_bm_yellow_70 {border-bottom-color: var(--color_yellow_70);}
.border_bm_yellow_80 {border-bottom-color: var(--color_yellow_80);}
.border_bm_yellow_90 {border-bottom-color: var(--color_yellow_90);}
.border_bm_yellow_100 {border-bottom-color: var(--color_yellow_100);}

		/*border-color-left*/
.border_left_yellow_10 {border-left-color: var(--color_yellow_10);}
.border_left_yellow_20 {border-left-color: var(--color_yellow_20);}
.border_left_yellow_30 {border-left-color: var(--color_yellow_30);}
.border_left_yellow_40 {border-left-color: var(--color_yellow_40);}
.border_left_yellow_50 {border-left-color: var(--color_yellow_50);}
.border_left_yellow_60 {border-left-color: var(--color_yellow_60);}
.border_left_yellow_70 {border-left-color: var(--color_yellow_70);}
.border_left_yellow_80 {border-left-color: var(--color_yellow_80);}
.border_left_yellow_90 {border-left-color: var(--color_yellow_90);}
.border_left_yellow_100 {border-left-color: var(--color_yellow_100);}

.border_lt_yellow_10 {border-left-color: var(--color_yellow_10);}
.border_lt_yellow_20 {border-left-color: var(--color_yellow_20);}
.border_lt_yellow_30 {border-left-color: var(--color_yellow_30);}
.border_lt_yellow_40 {border-left-color: var(--color_yellow_40);}
.border_lt_yellow_50 {border-left-color: var(--color_yellow_50);}
.border_lt_yellow_60 {border-left-color: var(--color_yellow_60);}
.border_lt_yellow_70 {border-left-color: var(--color_yellow_70);}
.border_lt_yellow_80 {border-left-color: var(--color_yellow_80);}
.border_lt_yellow_90 {border-left-color: var(--color_yellow_90);}
.border_lt_yellow_100 {border-left-color: var(--color_yellow_100);}

		/*border-color-right*/
.border_right_yellow_10 {border-right-color: var(--color_yellow_10);}
.border_right_yellow_20 {border-right-color: var(--color_yellow_20);}
.border_right_yellow_30 {border-right-color: var(--color_yellow_30);}
.border_right_yellow_40 {border-right-color: var(--color_yellow_40);}
.border_right_yellow_50 {border-right-color: var(--color_yellow_50);}
.border_right_yellow_60 {border-right-color: var(--color_yellow_60);}
.border_right_yellow_70 {border-right-color: var(--color_yellow_70);}
.border_right_yellow_80 {border-right-color: var(--color_yellow_80);}
.border_right_yellow_90 {border-right-color: var(--color_yellow_90);}
.border_right_yellow_100 {border-right-color: var(--color_yellow_100);}

.border_rt_yellow_10 {border-right-color: var(--color_yellow_10);}
.border_rt_yellow_20 {border-right-color: var(--color_yellow_20);}
.border_rt_yellow_30 {border-right-color: var(--color_yellow_30);}
.border_rt_yellow_40 {border-right-color: var(--color_yellow_40);}
.border_rt_yellow_50 {border-right-color: var(--color_yellow_50);}
.border_rt_yellow_60 {border-right-color: var(--color_yellow_60);}
.border_rt_yellow_70 {border-right-color: var(--color_yellow_70);}
.border_rt_yellow_80 {border-right-color: var(--color_yellow_80);}
.border_rt_yellow_90 {border-right-color: var(--color_yellow_90);}
.border_rt_yellow_100 {border-right-color: var(--color_yellow_100);}





/*Orange :*/

	/*color*/
.color_orange_10 {color: var(--color_orange_10);}
.color_orange_20 {color: var(--color_orange_20);}
.color_orange_30 {color: var(--color_orange_30);}
.color_orange_40 {color: var(--color_orange_40);}
.color_orange_50 {color: var(--color_orange_50);}
.color_orange_60 {color: var(--color_orange_60);}
.color_orange_70 {color: var(--color_orange_70);}
.color_orange_80 {color: var(--color_orange_80);}
.color_orange_90 {color: var(--color_orange_90);}
.color_orange_100 {color: var(--color_orange_100);}

	/*background-color*/
.bg_orange_10 {background-color: var(--color_orange_10);}
.bg_orange_20 {background-color: var(--color_orange_20);}
.bg_orange_30 {background-color: var(--color_orange_30);}
.bg_orange_40 {background-color: var(--color_orange_40);}
.bg_orange_50 {background-color: var(--color_orange_50);}
.bg_orange_60 {background-color: var(--color_orange_60);}
.bg_orange_70 {background-color: var(--color_orange_70);}
.bg_orange_80 {background-color: var(--color_orange_80);}
.bg_orange_90 {background-color: var(--color_orange_90);}
.bg_orange_100 {background-color: var(--color_orange_100);}

	/*border-color*/
.border_orange_10 {border-color: var(--color_orange_10);}
.border_orange_20 {border-color: var(--color_orange_20);}
.border_orange_30 {border-color: var(--color_orange_30);}
.border_orange_40 {border-color: var(--color_orange_40);}
.border_orange_50 {border-color: var(--color_orange_50);}
.border_orange_60 {border-color: var(--color_orange_60);}
.border_orange_70 {border-color: var(--color_orange_70);}
.border_orange_80 {border-color: var(--color_orange_80);}
.border_orange_90 {border-color: var(--color_orange_90);}
.border_orange_100 {border-color: var(--color_orange_100);}

		/*border-color-top*/
.border_top_orange_10 {border-top-color: var(--color_orange_10);}
.border_top_orange_20 {border-top-color: var(--color_orange_20);}
.border_top_orange_30 {border-top-color: var(--color_orange_30);}
.border_top_orange_40 {border-top-color: var(--color_orange_40);}
.border_top_orange_50 {border-top-color: var(--color_orange_50);}
.border_top_orange_60 {border-top-color: var(--color_orange_60);}
.border_top_orange_70 {border-top-color: var(--color_orange_70);}
.border_top_orange_80 {border-top-color: var(--color_orange_80);}
.border_top_orange_90 {border-top-color: var(--color_orange_90);}
.border_top_orange_100 {border-top-color: var(--color_orange_100);}

.border_tp_orange_10 {border-top-color: var(--color_orange_10);}
.border_tp_orange_20 {border-top-color: var(--color_orange_20);}
.border_tp_orange_30 {border-top-color: var(--color_orange_30);}
.border_tp_orange_40 {border-top-color: var(--color_orange_40);}
.border_tp_orange_50 {border-top-color: var(--color_orange_50);}
.border_tp_orange_60 {border-top-color: var(--color_orange_60);}
.border_tp_orange_70 {border-top-color: var(--color_orange_70);}
.border_tp_orange_80 {border-top-color: var(--color_orange_80);}
.border_tp_orange_90 {border-top-color: var(--color_orange_90);}
.border_tp_orange_100 {border-top-color: var(--color_orange_100);}

		/*border-color-bottom*/
.border_bottom_orange_10 {border-bottom-color: var(--color_orange_10);}
.border_bottom_orange_20 {border-bottom-color: var(--color_orange_20);}
.border_bottom_orange_30 {border-bottom-color: var(--color_orange_30);}
.border_bottom_orange_40 {border-bottom-color: var(--color_orange_40);}
.border_bottom_orange_50 {border-bottom-color: var(--color_orange_50);}
.border_bottom_orange_60 {border-bottom-color: var(--color_orange_60);}
.border_bottom_orange_70 {border-bottom-color: var(--color_orange_70);}
.border_bottom_orange_80 {border-bottom-color: var(--color_orange_80);}
.border_bottom_orange_90 {border-bottom-color: var(--color_orange_90);}
.border_bottom_orange_100 {border-bottom-color: var(--color_orange_100);}

.border_bot_orange_10 {border-bottom-color: var(--color_orange_10);}
.border_bot_orange_20 {border-bottom-color: var(--color_orange_20);}
.border_bot_orange_30 {border-bottom-color: var(--color_orange_30);}
.border_bot_orange_40 {border-bottom-color: var(--color_orange_40);}
.border_bot_orange_50 {border-bottom-color: var(--color_orange_50);}
.border_bot_orange_60 {border-bottom-color: var(--color_orange_60);}
.border_bot_orange_70 {border-bottom-color: var(--color_orange_70);}
.border_bot_orange_80 {border-bottom-color: var(--color_orange_80);}
.border_bot_orange_90 {border-bottom-color: var(--color_orange_90);}
.border_bot_orange_100 {border-bottom-color: var(--color_orange_100);}

.border_bm_orange_10 {border-bottom-color: var(--color_orange_10);}
.border_bm_orange_20 {border-bottom-color: var(--color_orange_20);}
.border_bm_orange_30 {border-bottom-color: var(--color_orange_30);}
.border_bm_orange_40 {border-bottom-color: var(--color_orange_40);}
.border_bm_orange_50 {border-bottom-color: var(--color_orange_50);}
.border_bm_orange_60 {border-bottom-color: var(--color_orange_60);}
.border_bm_orange_70 {border-bottom-color: var(--color_orange_70);}
.border_bm_orange_80 {border-bottom-color: var(--color_orange_80);}
.border_bm_orange_90 {border-bottom-color: var(--color_orange_90);}
.border_bm_orange_100 {border-bottom-color: var(--color_orange_100);}

		/*border-color-left*/
.border_left_orange_10 {border-left-color: var(--color_orange_10);}
.border_left_orange_20 {border-left-color: var(--color_orange_20);}
.border_left_orange_30 {border-left-color: var(--color_orange_30);}
.border_left_orange_40 {border-left-color: var(--color_orange_40);}
.border_left_orange_50 {border-left-color: var(--color_orange_50);}
.border_left_orange_60 {border-left-color: var(--color_orange_60);}
.border_left_orange_70 {border-left-color: var(--color_orange_70);}
.border_left_orange_80 {border-left-color: var(--color_orange_80);}
.border_left_orange_90 {border-left-color: var(--color_orange_90);}
.border_left_orange_100 {border-left-color: var(--color_orange_100);}

.border_lt_orange_10 {border-left-color: var(--color_orange_10);}
.border_lt_orange_20 {border-left-color: var(--color_orange_20);}
.border_lt_orange_30 {border-left-color: var(--color_orange_30);}
.border_lt_orange_40 {border-left-color: var(--color_orange_40);}
.border_lt_orange_50 {border-left-color: var(--color_orange_50);}
.border_lt_orange_60 {border-left-color: var(--color_orange_60);}
.border_lt_orange_70 {border-left-color: var(--color_orange_70);}
.border_lt_orange_80 {border-left-color: var(--color_orange_80);}
.border_lt_orange_90 {border-left-color: var(--color_orange_90);}
.border_lt_orange_100 {border-left-color: var(--color_orange_100);}

		/*border-color-right*/
.border_right_orange_10 {border-right-color: var(--color_orange_10);}
.border_right_orange_20 {border-right-color: var(--color_orange_20);}
.border_right_orange_30 {border-right-color: var(--color_orange_30);}
.border_right_orange_40 {border-right-color: var(--color_orange_40);}
.border_right_orange_50 {border-right-color: var(--color_orange_50);}
.border_right_orange_60 {border-right-color: var(--color_orange_60);}
.border_right_orange_70 {border-right-color: var(--color_orange_70);}
.border_right_orange_80 {border-right-color: var(--color_orange_80);}
.border_right_orange_90 {border-right-color: var(--color_orange_90);}
.border_right_orange_100 {border-right-color: var(--color_orange_100);}

.border_rt_orange_10 {border-right-color: var(--color_orange_10);}
.border_rt_orange_20 {border-right-color: var(--color_orange_20);}
.border_rt_orange_30 {border-right-color: var(--color_orange_30);}
.border_rt_orange_40 {border-right-color: var(--color_orange_40);}
.border_rt_orange_50 {border-right-color: var(--color_orange_50);}
.border_rt_orange_60 {border-right-color: var(--color_orange_60);}
.border_rt_orange_70 {border-right-color: var(--color_orange_70);}
.border_rt_orange_80 {border-right-color: var(--color_orange_80);}
.border_rt_orange_90 {border-right-color: var(--color_orange_90);}
.border_rt_orange_100 {border-right-color: var(--color_orange_100);}